<div class="container mt-4">
<label for="employeeSearch">Search Employees:</label>
  <input type="text" class="form-control mb-3" id="employeeSearch" placeholder="Enter employee name..." (keyup)="search()" [(ngModel)]="searchemp">
  <!-- Title -->
   
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="fw-bold">Employee Management</h4>
    <span class="badge bg-secondary">Total: {{ totleemployes.length }}</span>
  </div>

  <!-- Table -->
  <div class="table-responsive shadow-sm rounded">

    <table class="table table-hover align-middle mb-0">

      <!-- Header -->
      <thead class="header-style">
        <tr>
          <th>ID</th>
          <th (click)="sortname('name')">Name</th>
          <th (click)="sortname('company')">Company</th>
          <th (click)="sortname('role')">Role</th>
          <th (click)="sortname('package')">Package</th>
          <th (click)="sortname('email')">Email</th>
          <th>Gender</th>
          <th (click)="sortname('city')">City</th>
          <th>Work Mode</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <!-- Body -->
      <tbody>

        <tr *ngFor="let emp of totleemployes">

          <td>{{ emp.id }}</td>

          <td class="fw-semibold">
            {{ emp.name || '-' }}
          </td>

          <td>{{ emp.company || '-' }}</td>

          <td>{{ emp.role || '-' }}</td>

          <td class="text-success fw-semibold" [ngStyle]="{'color':emp.package > 100000  ? 'red':'green'}">
            ₹ {{ emp.package}}
          </td>

          <td class="text-muted">
            {{ emp.email || '-' }}
          </td>

          <td>{{ emp.gender || '-' }}</td>

          <td>{{ emp.address?.city || '-' }}</td>

          <td>
            <span class="badge bg-light text-dark border">
              {{ emp.workMode || '-' }}
            </span>
          </td>

          <!-- Actions -->
          <td class="text-center">

            <button class="btn btn-sm btn-primary me-1" routerLink="/dashbord/editeemploye/{{emp.id}}">
              Edit
            </button>

            <button class="btn btn-sm btn-danger me-1" (click)="deleteemp(emp.id)">
              Delete
            </button>

            <button class="btn btn-sm btn-outline-dark">
              View
            </button>

          </td>

        </tr>

      </tbody>

    </table>

  </div>

  <button (click)="pageprev()">Prev</button>
  <button *ngFor="let emp of[].constructor(10); let i=index "
   (click)="pageemp(i + 1)">{{i + 1}}</button>

   <button (click)="nextemp()">Next</button>
</div>