<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black px-4 shadow-sm">
  <a class="navbar-brand fw-bold text-gradient">JAYAS</a>

  <div class="collapse navbar-collapse justify-content-between">
    
    <!-- Menu -->
     <div>
      <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/dashbord/itemployes">Employees</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/dashbord/acountrs">Acountrs</a></li>
      <li class="nav-item"><a class="nav-link">Reports</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/dashbord/products/allproducts">Products</a></li>
    </ul>

    </div>

    <!-- Right -->
    <div class="d-flex align-items-center gap-3">
      <input type="text" class="form-control form-control-sm search-box" placeholder="Search...">

      <i class="bi bi-bell text-light fs-5"></i>
      <i class="bi bi-person-circle text-light fs-5"></i>

    </div>

  </div>
</nav>


<!-- HERO SECTION -->
<section class="hero-dark">

  <img src="/assets/lycs-architecture-U2BI3GMnSSE-unsplash.jpg" alt="banner">

  <!-- Overlay -->
  <div class="overlay-dark">

    <h1 class="main-title">
      Jaya Group Of. <span>Solutions.</span>
    </h1>

    <p class="subtitle">
      Smart Employee Management Platform for Modern Teams 🚀
    </p>

    <div class="mt-4">
      <button class="btn btn-primary me-2">Get Started</button>
      <button class="btn btn-outline-light">Learn More</button>
    </div>

  </div>

</section>


<!-- FEATURE SECTION -->
<div class="container mt-5 text-center text-light">
  <div class="row">

    <div class="col-md-4">
      <div class="feature-card">
        <h5>Employee Tracking</h5>
        <p>Manage all employee data in one place</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="feature-card">
        <h5>Analytics</h5>
        <p>Track performance and growth easily</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="feature-card">
        <h5>Secure System</h5>
        <p>Advanced security for your data</p>
      </div>
    </div>

  </div>
</div>


<!-- FOOTER -->
<footer class="footer-dark text-center mt-5">
  <h6>© 2026 JAYAS SYSTEM</h6>
</footer>